{% extends 'body.html' %}
{% block body %}
{% include '../header.html' %}
<div class="container-fluid">
    <div class='row' style='padding: 10px; gap: 10px'>
        <div class='col s12 m4 l4'>
            <div class='card-panel teal lighten-2'>
                <span>Categorias: {{ qtd_categorias }}</span>
            </div>
        </div>
        <div class='col s12 m4 l4'>
            <div class='card-panel teal lighten-2'>
                <span>Credores {{ qtd_credores }} </span>
            </div>
        </div>
        <div class='col s12 m4 l4'>
            <div class='card-panel teal lighten-2'>
                <span>Lançamentos:</span>
            </div>
        </div>
    </div>   
</div>
{% endblock body %}