{% extends 'body.html' %}
{% block body %}
<form action="{% url 'insert_ator' %}" method="POST">
{% csrf_token %}
    <div id="insert_ator" class="modal">
        <div class="modal-content">
            <h4>Insira uma Ator</h4>
            <div class="container-fluid">
                <div class="row" style="gap: 10px; padding: 10px;">
                    <div class="input-field outlined col s12 m12 l12">
                        <select id="form-select-1" name="selectcategoria">
                            <option value="" disabled selected>Selecione</option>
                            {% for s_categoria in categorias %}
                            <option value="{{ s_categoria.id }}">{{ s_categoria.nome }}</option>
                            {% endfor %}
                        </select>
                        <label for="form-select-1">Categoria:</label>   
                    </div>
                </div>
                <div class="row" style="gap: 10px; padding: 10px;">
                    <div class="input-field outlined col s12 m12 l12">
                        <input placeholder="" id="nomeator" name="nomeator" type="text" class="validate">
                        <label for="nomeator">Nome:</label>  
                    </div>
                </div>
                <div class="row" style="gap: 0x; padding: 10px; display: flex; justify-content: space-evenly;">
                    <div class="col s3">
                        <label>
                            <input type="checkbox" name="checkboxstatus" id="checkboxstatus" checked="checked"/>
                            <span>Status</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <label>
                            <input type="checkbox" name="checkboxcredor" id="checkboxcredor"/>
                            <span>Credor</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <label>
                            <input type="checkbox" name="checkboxresponsavelconta" id="checkboxresponsavelconta"/>
                            <span>Resp. conta</span>
                        </label>
                    </div>
                    <div class="col s3">
                        <label>
                            <input type="checkbox" name="responsavelpagamento" id="responsavelpagamento"/>
                            <span>Resp. Pagamento</span>
                        </label>
                    </div>
                </div>
                <div class="row" style="gap: 10px; padding: 10px; display: flex; justify-content: flex-end">
                    <div class="input-field col s12 m12 l12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
                            <i class="material-icons left">save</i>
                        </button>
                        <a class="btn waves-effect waves-light red modal-close">Sair
                            <i class="material-icons left">cancel</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock body %}