
{% extends 'body.html' %}
{% block body %}
<form action="{% url 'insert_categoria' %}" method="POST">
{% csrf_token %}
    <div id="insert_categoria" class="modal">
        <div class="modal-content">
            <h4>Insira uma Categoria</h4>
            <div class="container-fluid">
                <div class="row" style="gap: 10px; padding: 10px;">
                    <div class="input-field outlined col s12 m12 l12">
                        <input placeholder="" id="nomecategoria" name="nomecategoria" type="text" class="validate">
                        <label for="nomecategoria">Nome:</label>  
                    </div>
                </div>
                <div class="row" style="gap: 10px; padding: 10px; display: flex; justify-content: flex-end">
                    <div class="input-field col s12 m12 l12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
                            <i class="material-icons left">save</i>
                        </button>
                        <a class="btn waves-effect waves-light red modal-close">Sair
                            <i class="material-icons left">cancel</i>
                        </a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</form>
{% endblock body %}