{% extends 'body.html' %}
{% block body %}
{% for s_categoria in categorias %}
<form action="{% url 'update_categoria' s_categoria.id %}" method="POST">
{% csrf_token %}
    <div id="update_categoria/{{ s_categoria.id }}" class="modal">
        <div class="modal-content">
            <h4>Edite a Categoria #{{ s_categoria.id }}</h4>
            <div class="container-fluid">
                <div class="row" style="gap: 10px; padding: 10px;">
                    <div class="input-field outlined col s12 m12 l12">
                        <input placeholder="" id="nomecategoria" name="nomecategoria" type="text" class="validate" value="{{ s_categoria.nome }}">
                        <label for="nomecategoria">Nome:</label>  
                    </div>
                </div>
                <div class="row" style="gap: 10px; padding: 10px; display: flex; justify-content: flex-end">
                    <div class="input-field col s12 m12 l12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Salvar
                            <i class="material-icons left">save</i>
                        </button>
                        <a class="btn waves-effect waves-light red modal-close">Sair
                            <i class="material-icons left">cancel</i>
                        </a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</form>
{% endfor %}
{% endblock body %}